* {
  scroll-behavior: smooth;
  font-family: $font_main;
}

body {
  background: $body_bg;
  color: $white;

  #app {
    padding: 95 * $px 8% 45 * $px;
  }
}

body,
#root {
  min-height: 100vh;
}

.columns {
  padding: 0;
  margin: 0 !important;
}

.has-after {
  position: relative;
  padding-bottom: 15 * $px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10 * $px;
    height: 10 * $px;
    border-radius: 50%;
    background: $white;
  }
}

// Forms
input {
  display: block;
  padding: 12 * $px;
  background: none;
  color: $white;
  margin: 15 * $px auto;
  width: 80%;
  border-radius: $border_radius;
  border: 2 * $px solid $white;

  &::placeholder {
    font-family: $font_main;
  }
}

// Toasts
.ct-toast {
  background: $dark_shadow !important;
  color: $white !important;
}

// Responsive utils
@media screen and (max-width: 768 * $px) {
  .p-mb-0 {
    padding: 0;
  }
}
